* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-section { 
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/Fondo.png'); 
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
}

.hero-text {
    margin-top: 80px;
    width: 100%;
    display: flex;
}

.hero-fantasma {
    width: max-content;
    margin-left: 25%;

}

.hero-text1 {
    font-size: 45px;
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-top: 40px;
}

.hero-subtext {
    color: #f1a900;
    margin-bottom: 40px;
}

.btn-hero1 {
    border: 3px solid rgb(82, 82, 180);
    margin-right: 25px;
    font-size: 20px;
    background-color: rgb(103, 103, 205);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}


.btn-hero2 {
    border: 3px solid rgb(82, 82, 180);
    margin-right: 25px;
    font-size: 20px;
    background-color: rgb(103, 103, 205);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-hero3 {
    border: 3px solid rgb(82, 82, 180);
    margin-right: 25px;
    font-size: 20px;
    background-color: rgb(103, 103, 205);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.pie-hero {
    margin-top: 30px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: flex;
}

.pie-hero div {
    margin-right: 50px;
}

.recomendaciones {
    font-size: 28px;
    display: flex;
    justify-content: center;
    background-color: rgb(64, 64, 194);
}

.recomendaciones p {
    margin: 3px;
    color: white;
}

.exp {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.exp-izq {
    width: 520px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.exp-izq1 {
    font-size: 24px;
    color: #f1a900;
}

.exp-izq2 {
    font-size: 29px;
    color: black;
}

.exp-izq3 {
    display: flex;
}

.exp-izq-31 {
    width: 50%;
    margin-right: 40px;
}

.exp-title {
    font-size: 24px;
}

.exp-sub {
    font-size: 19px;
    color: #f1a900;
}

.exp-izq-32 {
    width: 50%;
}

.exp-img {
    height: auto;
    width: 560px;
}

.exp-img img {
    object-fit: contain;
    border-radius: 25px;
    width: 100%;
    display: block;
    height: auto;
}

.mapa {
    margin-top: 100px;
    width: 100%;
    height: 452px;
    display: flex;
    justify-content: center;
}

.mapa img {
    border-radius: 30px;
}

.esp {
    justify-self: center;
}

.tabla {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(208, 208, 208);

}

.module {
    border: 1px solid rgb(208, 208, 208);
    width: 260px;
    height: 270px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabla-title {
    font-size: 26px;
    margin-left: 10px;
    font-weight:600;
}

.tabla-subtitle {
    font-size: 19px;
    margin-left: 10px;
}

.tabla-more {
    font-size: 18px;
    justify-self: center;
    margin-left: 10px;
}

.resenas {
    margin-top: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.resenas p {
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.res {
    width: 100%;
}

.section-3 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.section-3-izq {
    width: 500px;
    margin-right: 10px;
}

.section-3-izq p{
    font-size: 25px;
    font-weight: 600;
}

.section-3-izq span {
    color: rgb(99, 99, 99);
}

.section-3-izq li {
    color: #f1a900;
}

.section-3-der {
    width: 500px;
    margin-left: 10px;
}

.section-4-up {
    border: 1px solid #5A5A5A;
    background-color: #5A5A5A;
    margin-top: 90px;
}

.section-4-up h3 {
    font-size: 19px;
    color: #f1a900;
    margin-left: 400px;
}

.section-4-up h2 {
    font-size: 40px;
    margin-left: 400px;
    color: white;
}

.section-4-down {
    display: flex;
    justify-content: center;
    background-color: #5A5A5A;
    height: 500px;
}

.section-4-down1 {
    width: 450px;
    margin-right: 200px;
}

.bloq p {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.bloq span {
    font-size: 16px;
    color: white;
}

.section-4-down2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bloques {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bl {
    width: 225px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(70, 69, 69);
}

.bl:hover {
    background-color: #746f6f;
}

.bl p {
    font-size: 32px;
}

.bl span {
    color: #f1a900;
    font-size: 20px;
}

.section-5 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-5 p {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
}

.section-5 button {
    background-color: rgb(98, 146, 27);
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}