.div-head {
  display: flex;
  justify-content: left;
  align-items: center;
}

.div-head p {
  padding: 5px 15px;
} 

.image-ableton {
  display: flex;
  justify-content: center;
}

.div-info {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 800px;
  font-size: 26px;
  padding: 50px;
}

.sp {
  color: blue;
  cursor: pointer;
}

.imagenes {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
}

.img-izq {
  display: grid;
  justify-content: center;
  align-items: center;
}

.img-der {
  display: grid;
  justify-content: center;
  align-items: center;
}